---
import Layout from "../../../layouts/Layout.astro";
import Back from "../../../components/Back.astro";
import UsuarisController from "../../../classes/UsuarisController";

const { Id } = Astro.params;
const lang = Astro.cookies.get("idiom");

const usuarisController = new UsuarisController();

const user = await usuarisController.getUsuariById(Id);
const { nom, password, email } = user;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();

  const id = data.get("id");

  const mail = data.get("email") === "" ? email : data.get("email");
  const pass = data.get("password") === "" ? password : data.get("password");

  await usuarisController.updateUsuari(id, mail, pass);

  return Astro.redirect("/login");
}
---

<!-- <Layout>
    <Back></Back>

</Layout> -->
<Layout title={lang.value === "ca" ? "Configuració" : "Configuración"}>
  <form
    class="mx-[50px] relative
  md:mr-[200px]
  lg:mr-[250px]
  xl:mr-[350px]"
    method="post"
  >
    <Back />
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          {lang.value === "ca" ? "Nom" : "Nombre"}
        </label>
      </div>
      <div class="md:w-2/3">
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
          name="nom"
          type="text"
          disabled="true"
          value={nom}
        />
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          Email
        </label>
      </div>
      <div class="md:w-2/3">
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
          name="email"
          type="email"
        />
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name"
        >
          {lang.value === "ca" ? "Contrasenya" : "Contraseña"}
        </label>
      </div>
      <div class="md:w-2/3">
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
          name="password"
          type="text"
        />
      </div>
    </div>

    <input value={Id} name="id" type="hidden" />
    <div class="w-full flex justify-end">
      <button
        class="text-gray-700 bg-[#f5d4bc] duration-300 hover:transition-all hover:bg-[#46332f] rounded-xl block mb-9 p-3"
        >Enviar</button
      >
    </div>
  </form>
</Layout>
