---
import Layout from "../layouts/Layout.astro";
import UsuarisController from '../classes/UsuarisController';
if (Astro.request.method === "POST") {
    const usuarisController = new UsuarisController();
    const data = await Astro.request.formData();
    const nom = data.get("nom");
    const password = data.get("password");
    
    const userOk = await usuarisController.validaUsuari(nom, password);

    if (userOk) {
        Astro.cookies.set("usuari", nom);
        return Astro.redirect("/");
    } else {
        console.log("Error")
        return Astro.redirect("/login_error");
    }
    
}
const lang = Astro.cookies.get('idiom')
---        

<Layout title={lang?.value === 'ca' ? 'Iniciar sessió' : 'Iniciar sesión'}>

    <form method="post" class="w-7/12 mx-auto my-16
     relative
    md:mr-[234px]
    lg:mr-[330px]
    xl:mr-[420px]">
        <div class="md:flex md:items-start mb-6 mt-16 md:mt-20 ">
            <div class="md:w-1/3">
                <label
                    class="block text-gray-500 md:text-right mb-1 md:mb-0 pr-4 md:mt-2"
                    for="inline-full-name " 
                >
                {lang?.value === 'ca' ? 'Nom' : 'Nombre'}
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                    name="nom"
                    type="text"
                />
            </div>
        </div>




        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <label
                    class="block text-gray-500 md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-full-name"
                >
                    {lang?.value === 'ca' ? 'Contrasenya' : 'Contraseña'}
                </label>
            </div>
            <div class="md:w-2/3">
                <input
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                    name="password"
                    type="password"
                />
            </div>
        </div>
            <p class="text-sm mb-7 md:2/3 text-end">
                <a class="text-gray-700 font-bold" href="/signup">{lang?.value === 'ca' ? "No estàs registrat? Registra't" : '¿No estás registrado? Regístrate'}</a>
            </p>

        <div class="flex justify-end">
            <button class="bg-[#e4ccbf] hover:bg-[#d5beb2] hover:transition-all duration-200 text-gray-800 font-bold py-2 px-4 rounded ">
                {lang?.value === 'ca' ? 'Acceptar' : 'Aceptar'}           
            </button>
        </div>

    </form>
</Layout>