---
import Layout from "../layouts/Layout.astro";
const lang = Astro.cookies.get("idiom");
---

<Layout title="Oops...">
  <div class=" mt-20 sm:w-1/2  w-3/4 m-auto">
    <div
      class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 rounded-md"
      role="alert"
    >
      <p class="font-bold">
        {lang.value === "ca" ? "Error de validació" : "Error de validación"}
      </p>
      <p class="text-sm">
        {
          lang.value === "ca"
            ? "Hi ha hagut un problema amb el login..."
            : "Ha habido un problema con el login..."
        }
      </p>
    </div>
    

    <a class="mt-4 block"  href="/login">
      <div class="w-full flex justify-end">
        <button
          class="text-gray-700 bg-[#f5d4bc] duration-300 hover:transition-all hover:bg-[#46332f] rounded-xl block mb-9 p-3"
          >{
            lang.value === "ca" ? "Torna-ho a provar" : "Vuelve a intentarlo"
          }</button
        >
      </div>
    </a>
  </div>
</Layout>
