---
const { title } = Astro.props;

let usuari;
if (Astro.cookies.has("usuari")) {
  const cookie = Astro.cookies.get("usuari");
  usuari = cookie.value;
}

const lang = Astro.cookies.get("idiom");

let cookie;
if (!Astro.cookies.has("idiom")) {
  cookie = Astro.cookies.set("idiom", "ca");
}
---

<div
  style="background-image: url(/header-img.jpeg); background-size: 130px 130px;"
  class=" w-11/12 h-28 mx-auto mt-16 mb-10 relative rounded-full flex justify-center items-center text-slate-700 bg-[length:100px_100px]
  md:w-8/12 md:mt-12
  lg:w-7/12 lg:h-[140px] lg:mt-12"
>
  <!-- class="pl-3 text-white bg-[black]/55 font-normal text-4xl rounded-xl
        w-fit p-4 my-10 mx-auto md:p-6 md:text-4xl lg:p-8 lg:text-5xl" -->
  <h1
    class="p-4 text-3xl font-sans text-white font-bold bg-black/50 rounded-xl
    md:text-4xl
    lg:text-5xl"
  >
    {title}
  </h1>
</div>
<div class="absolute right-0 flex justify-center items-center top-1">
  <a class="block m-2 p-1" href="/idiomas/ca">
    <img
      class="h-6 w-8"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Catalonia.svg/810px-Flag_of_Catalonia.svg.png"
      alt="catalunya"
    />
  </a>
  <a class="block m-2 p-1" href="/idiomas/es">
    <img
      class="h-6 w-8"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQREKy9cfYiLuGD_prBWuzN_e5j752B8B5O9w&s"
      alt="españa"
    />
  </a>
  <!-- en realidad esta <p> </p> de abajo debería ser un div y lo vamos a trasladar a un componente navbar -->

  <!--  IMPORTANTE hay que definir la salida.svg -->
</div>
<!-- icono login -->

<!-- en caso de que el usuario esté logeado -->
<!-- {usuari}{" "}
            {lang.value === "ca" ? "(Tancar sessió)" : "(Cerrar sesión)"} -->

<!-- en caso de que el usuario no esté logeado -->
<!-- {lang.value === "ca" ? "(Iniciar sessió)" : "(Iniciar sesión)"} -->

<!-- recursos -->
<!-- {
              usuari ? (
                <a href="/logout" class="no-underline">
      
                  <img src="/salida.svg text-white" width="25" />
                </a>
              ) : (
                <a href="/login" class="no-underline w-4">
                  <img src="/entrada.svg text-white" width="25" />
                </a>
              )
            } -->

<!-- <div class="bg-black/55 text-white p-2 rounded-lg text-bold text-xl ml-12">
    
              <img src="entrada.svg" class="w-8" >
            </div> -->
