---
const { title } = Astro.props;
---

<h1
    class=" pl-3 text-white bg-[#d14d4d] font-thin text-4xl rounded-full 
    w-fit p-4 my-10 mx-auto  md:p-6 md:text-4xl lg:p-8 lg:text-5xl"
>
    {title}
</h1>
