---
const { title } = Astro.props;




let usuari;
if (Astro.cookies.has("usuari")) {
  const cookie = Astro.cookies.get("usuari")
  usuari = cookie.value
}

const lang = Astro.cookies.get("idiom");


let cookie;
if (!Astro.cookies.has("idiom")){
    cookie = Astro.cookies.set("idiom", "ca");
}
---
<div class="flex justify-between  text-slate-700 p-2 mb-4">
    <h1
        class=" pl-3 text-white bg-[#d14d4d] font-thin text-4xl rounded-full 
        w-fit p-4 my-10 mx-auto  md:p-6 md:text-4xl lg:p-8 lg:text-5xl"
    >
        {title}
    </h1>
    <div class="flex">
        <a href="/idiomas/ca">
            <img class="size-6 m-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAG1BMVEX83QnaEhr+5AjlbRbZABr+5wfXABvysA/94Agr0g6mAAABBUlEQVR4nO3dwW1CQRAFwTFgIP+IuU+frcVfVSH08Y20OwMAAAAA8AdubHNnmwfb/LBpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJ2dnKHlt2+zp9SgEAAACAS/hlmyeb+05pUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVK2x5oX27zZTp9SAAAAAPiHTo9aX8geW3b7ct8pTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU3K9ljetajTpxQAAAAAuITTn2d9If++lf8By32nNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpOxsZY8tu32dPqUAAAAAANf0AcuNtp+ascSpAAAAAElFTkSuQmCC" alt="catalunya">
        </a>
        <a href="/idiomas/es">
            <img class="size-6 m-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAASFBMVEXGCx7+xADFABnGDBrXQgn+xRH/wwD7xgjQKBL8ugu1Cx7jsSDGDB+2CyH8uwvGCyHGABSzBhnURQrCPxXorSj+txTMKRW6JhubMj5RAAABxklEQVR4nO3dy0rDQBiA0dHaeGmtt6rv/6ZaVx0/RF21i3Mg8C/CMHwku5AZg9n27tQ7OEOalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJqVJaVKalCalSWkSD/en3sHZ2WoShyaXTFaPT+OK2fPLWDO73o8LZstGk9CkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0qc8my6n3cGYO/6NemHl3Yr0Z10zW66/nZDm6fhwP0zwuHX9b5Nt4kfFY7/jLokvHf25yM3a73S1HXvfjhsnb27tzVb45nEm0YjKGM4li6zyv0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk/DNcG3vPgA9AZfkslojWwAAAABJRU5ErkJggg==" alt="españa">
        </a>
    </div>
    <p>{usuari ? <a href="/logout" class="underline">{usuari} {lang.value === 'ca' ? '(Tancar sessió)' : '(Cerrar sesión)'}</a> : <a href="/login" class="underline">{lang.value === 'ca' ? 'Inicia sessió' : 'Iniciar sesión'}</a>}</p>

</div>

