---


const { Id, nom, email, password } = Astro.props.u;
const usuari = Astro.props.u;
const lang = Astro.cookies.get("idiom");

---

<nav class="  my-6 border-2 divide-x-2 divide-black rounded-full border-black/80 mx-auto flex items-center w-fit bg-black/50 text-white shadow-lg">
  <a href="/receptes/nova" class=" py-2 px-2" >{lang.value === "ca" ? "Nova recepta" : "Nueva receta"}</a>
  <a class="  py-2 px-2" href={`users/update/${Id}`}><img src="edit.svg" alt=""></a>
  <a class="  py-2 px-2" href={"/users/delete/"+Id}><img src="trash.svg" alt=""></a>
  <!-- <select id="userUD" class=" rounded-full border bg-amber-200 py-4 px-2" >
      <option >Editar usuari
        <a href=""></a>
      </option>
      <option >Esborrar usuari</option>
  </select> -->
  <div class=" py-2 px-2">
    {
      usuari ? (
        <a href="/logout" class=" no-underline">
          <img src="/logout.svg"/>
        </a>
      ) : (
        <a href="/login" class=" no-underline">
          <img src="/login.svg"/>
        </a>
      )
    }
  </div>
</nav>


<!-- <nav> -->
  <!-- nueva receta -->

  <!-- hay que definir la imagen ajustes.svg -->
  <!-- <a href="/settings/index">
    <img src="/ajustes.svg" width="25" />
  </a> -->

  <!-- <div class="flex w-1/2 justify-between">
    
  </div> -->


  <!-- metemos los botones de actualizar y borrar usuario -->
  

  <!-- aqui metemos la lógica de cerrar sesión -->

  <!-- <p class="bg-black/55 text-white p-2 rounded-lg text-bold text-xl ml-12">
    {
      usuari ? (
        <a href="/logout" class="no-underline">
          hay que definir la salida.svg
          <img src="/salida.svg text-white" width="25" />
        </a>
      ) : (
        <a href="/login" class="no-underline w-4">
          <img src="/entrada.svg text-white" width="25" />
        </a>
      )
    }
  </p>
</nav> -->
